/* .sections {
  background-image: url("folder/240_F_418122150_BSLIV33qMrdJvM5dSr01vMky0EG0BTCC.jpg");
  width: 100%;
} */
* {
  margin: 0;
  /* padding: 5px; */
}
.pad {
  padding-top: 100px;
}
.spacing {
  padding-bottom: 40px;
}
.size {
  font-size: 100px;
}
.body {
  min-height: 100vh;
  background-image: url("folder/240_F_274639050_ddLeyFuQGwEjtTP0e2Y9ZZesSo2Mj6JD.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
nav {
  background-color: whitesmoke;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
}
nav ul {
  width: 92%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 70px;
}
nav a {
  height: 100%;
  padding: 0px 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  font-size: 20px;
}

nav a:hover {
  background-color: wheat;
}
nav :first-child {
  margin-right: auto;
}
.sidebar {
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(245, 245, 245, 0.315);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

img {
  width: 200px;
  align-items: center;
}
.paragraphFont {
  font-size: 35px;
  padding: 0px 20px 0px 20px;
}
.otherFont {
  font-size: 25px;
}
.yellow-text {
  color: yellowgreen;
}
.main {
  background-color: black;
  height: 500px;
}
h2 {
  font-size: 50px;
  font-family: "Pacifico", "Helvetica", "sans-serif";
  color: brown;
}

.font {
  font-family: "Rubik Doodle Shadow", "Helvetica", "sans-serif";
  font-size: 100px;
  color: wheat;
  margin-bottom: 60px;
}

.text-aligner-center {
  text-align: center;
}
.white-text {
  color: whitesmoke;
}
.text-aligner-left {
  text-align: left;
}
.text-aligner-right {
  text-align: right;
}

.fa-python {
  font-size: 25px;
}
.fa-js {
  font-size: 25px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: whitesmoke;
}
.navbar {
  width: 95%;
  margin: 10px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  font-size: 25px;
}
.nav-branding {
  font-size: 40px;
}
*/
  /* .container {
  width: 100%;
} */
  .black-text {
  color: black;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 20px;
}
.ul {
  display: table;
  width: 90%;
  align-items: center;
}

ul > li {
  display: table-cell;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

@media (max-width: 850px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media only screen and (max-width: 650px) {
  h2 {
    font-size: 35px; /* Adjust font size for smaller screens */
    text-align: center;
  }
  .font {
    font-size: 45px;
    text-align: center;
  }
  .paragraphFont {
    font-size: 15px;
    text-align: center;
    padding: 0px 20px 0px 20px;
  }
  .otherFont {
    font-size: 15px;
    text-align: center;
  }
  .navbar {
    margin: -5px;
  }
  .nav-menu {
    gap: 5px;
    font-size: 15px;
  }
  .nav-branding {
    font-size: 25px;
  }
  /* .container {
    width: 100%;
    height: 100%;
  } */
  img {
    width: 300px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .ul {
    /* display: table;
    width: 83%;
    text-align: center; */
    display: table;
    /* width: 78%; */
    width: auto;
    text-align: center;
    padding-right: 40px;
  }
  ul > li {
    display: table-cell;
  }
  /* .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 40px;
  } */
}
@media only screen and (max-width: 375px) {
  h2 {
    font-size: 25px; /* Adjust font size for smaller screens */
    text-align: center;
  }
  .nav-menu {
    gap: 7px;
    font-size: 10px;
  }
  .nav-branding {
    font-size: 15px;
  }
  /* .container {
    width: 100%;
  } */
  img {
    width: 200px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .font {
    font-size: 40px;
    text-align: center;
  }
  .paragraphFont {
    font-size: 15px;
    text-align: center;
  }
  .sidebar {
    width: 100%;
  }
  .ul {
    display: table;
    /* width: 78%; */
    width: auto;
    text-align: center;
    padding-right: 40px;
  }
  ul > li {
    display: table-cell;
  }
}
