.black-background{
    background-color: black;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-size: 35px;
}


.font {
    font-family: Helvetica, sans-serif;  
    font-size: 100px;
    margin-bottom:30px                                           
}
.text-aligner-center{
    text-align: center;
}
.white-text{
    color:whitesmoke;
}
.text-aligner-left{
    text-align: left;
}